<div class="surface">
  <app-detail-header
    [title]="'Supervision Contact'"
    [backLink]="offenderNumber>0?('/offender-detail/' + offender?.offenderNumber):'/home'"
  ></app-detail-header>

  <div class="body_large">
    Supervision Contact entry for
    @if(offender) {
      <strong>{{offender!.defaultOffenderName!.firstName}} {{offender!.defaultOffenderName!.lastName}}</strong>
    } @else if(currentContact!.formCompleted) {
      <strong>{{currentContact!.firstName}} {{currentContact!.lastName}}</strong>
    }.
  </div>

  <form [formGroup]="contactForm" (submit)="onSubmit()">
    <ng-template #loading>Loading...</ng-template>

    <app-filterable-select *ngIf="(!offenderNumber || offenderNumber <= 0) && currentContact?.formCompleted"
      [label]="'Offender'"
      [options]="availableOffenders() ??[]"
      [placeholder]="'Search offender...'"
      formControlName="availableOffender">
    </app-filterable-select>

    <mat-form-field *ngIf="(!offenderNumber || offenderNumber == 0) && !currentContact?.formCompleted" class="contact_form_input_field">
      <mat-label class="body_small">First Name</mat-label>
      <input
        matInput
        [formControl]="firstNameControl"
        placeholder="First Name"
        aria-label="First Name"
        formControlName="firstName"
      />
    </mat-form-field>

    <mat-form-field *ngIf="(!offenderNumber || offenderNumber == 0) && !currentContact?.formCompleted" class="contact_form_input_field">
      <mat-label class="body_small">Last Name</mat-label>
      <input
        matInput
        [formControl]="lastNameControl"
        placeholder="Last Name"
        aria-label="Last Name"
        formControlName="lastName"
      />
    </mat-form-field>

    <mat-form-field class="contact_form_input_field">
      <mat-label class="body_small">Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="dateTimeControl"
        placeholder="MM/DD/YYYY"
        aria-label="Contact Date"
        required
        formControlName="contactDate"
      />
      <mat-hint style="font-size: 10px; line-height: 0; margin-top: 0"
        >MM/DD/YYYY</mat-hint
      >
      <mat-datepicker-toggle matSuffix [for]="picker" class="custom-toggle">
        <mat-icon matDatepickerToggleIcon svgIcon="ph-calendar"></mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="contact_form_input_field">
      <mat-label class="body_small">Time</mat-label>
      <input
        matInput
        [formControl]="dateTimeControl"
        [matTimepicker]="timePicker"
        placeholder="HH:MM"
        formControlName="contactTime"
      />
      <mat-timepicker-toggle matSuffix [for]="timePicker" class="custom-toggle">
        <mat-icon matTimepickerToggleIcon svgIcon="ph-clock"></mat-icon>
      </mat-timepicker-toggle>
      <mat-timepicker #timePicker />
    </mat-form-field>


    <app-filterable-select
      [label]="'Primary Interviewer'"
      [options]="primaryInterviewers() ?? []"
      [placeholder]="'Search primary interviewer...'"
      formControlName="primaryInterviewer">
    </app-filterable-select>

    <app-filterable-select
      [label]="'Secondary Interviewer'"
      [options]="secondaryInterviewers() ??[]"
      [placeholder]="'Search secondary interviewer...'"
      formControlName="secondaryInterviewer">
    </app-filterable-select>

    <app-filterable-select
      [label]="'Contact Type'"
      [options]="contactTypeOptions"
      [placeholder]="'Search contact type...'"
      formControlName="contactType">
    </app-filterable-select>

    <app-filterable-select
      [label]="'Location'"
      [options]="locationOptions"
      [placeholder]="'Search location...'"
      formControlName="location">
    </app-filterable-select>

    <div class="action_container">
      <mat-divider style="color: lightgray"></mat-divider>
      <section>
        <div class="button-row">
          <button
            matButton="outlined"
            [routerLink]="offender?.offenderNumber?['/offender-detail', offender?.offenderNumber]:['/home']"
          >
            Cancel
          </button>
          <button
            matButton="filled"
            type="submit"
            (click)="onSubmit()"
            [disabled]="!contactForm.valid"
            [routerLink]="['/commentary-form', offenderNumber, currentContact.contactId]"
          >
            Next
          </button>
        </div>
      </section>
    </div>
  </form>
</div>
