<div class="surface">
  <app-detail-header
    [title]="'Supervision Contact'"
    [backLink]="'/offender-detail/' + offender?.offenderNumber"
  ></app-detail-header>

  <div class="body_large">
    Supervision Contact entry for
    <strong>{{offender?.defaultOffenderName?.firstName}} {{offender?.defaultOffenderName?.lastName}}</strong>.
  </div>

  <form [formGroup]="contactForm" (submit)="onSubmit()">
    <ng-template #loading>Loading...</ng-template>
    <mat-form-field class="contact_form_input_field">
      <mat-label class="body_small">Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="dateTimeControl"
        placeholder="MM/DD/YYYY"
        aria-label="Contact Date"
        required
        formControlName="contactDate"
      />
      <mat-hint style="font-size: 10px; line-height: 0px; margin-top: 0px"
        >MM/DD/YYYY</mat-hint
      >
      <!--
      <mat-datepicker-toggle matSuffix [for]="picker" class="custom-toggle">
        <mat-icon svgIcon="ph-calendar" style="font-size:24px;"></mat-icon>
      </mat-datepicker-toggle>
      -->
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="contact_form_input_field">
      <mat-label class="body_small">Time</mat-label>
      <input
        matInput
        [formControl]="dateTimeControl"
        [matTimepicker]="timePicker"
        placeholder="HH:MM"
        formControlName="contactTime"
      />
      <!--
      <mat-timepicker-toggle matSuffix [for]="timePicker">
        <mat-icon svgIcon="ph-clock"></mat-icon>
      </mat-timepicker-toggle>
      -->
      <mat-timepicker-toggle matIconSuffix [for]="timePicker" />
      <mat-timepicker #timePicker />
    </mat-form-field>

    <mat-form-field class="contact_form_input_field">
      <mat-label class="body_small">Primary Interviewer</mat-label>
      <mat-select [formControl]="primaryInterviewerControl">
        <mat-option>
          <input matInput formControlName="primaryInterviewer" />
        </mat-option>
        <ng-container>
          @if (primaryInterviewers()) {
            @for (interviewer of primaryInterviewers(); track interviewer.id) {
              <mat-option

                [value]="interviewer.id"
              >
                {{ interviewer.text }}
              </mat-option>
            }
          }
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="contact_form_input_field">
      <mat-label class="body_small">Secondary Interviewer</mat-label>
      <mat-select [formControl]="secondaryInterviewerControl">
        <mat-option>
          <input matInput formControlName="secondaryInterviewer" />
        </mat-option>
        <ng-container>
          @if (secondaryInterviewers()) {
            @for (interviewer of secondaryInterviewers(); track interviewer.id) {
              <mat-option

                [value]="interviewer.id"
              >
                {{ interviewer.text }}
              </mat-option>
            }
          }
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="contact_form_input_field">
      <mat-label class="body_small">Contact Type</mat-label>
      <mat-select required [formControl]="contactTypeControl">
        <mat-option>
          <input matInput formControlName="contactType" />
        </mat-option>
        <mat-option
          *ngFor="let option of contactTypeOptions | async; trackBy: trackOption"
          [value]="option.id"
          >{{option.text}}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="contact_form_input_field">
      <mat-label class="body_small">Location</mat-label>
      <mat-select [formControl]="contactLocationControl" required>
        <!-- Search input inside the dropdown -->
        <mat-select-trigger>
          {{ getLocationText(contactLocationControl.value) }}
        </mat-select-trigger>
        <mat-option>
          <input
            matInput
            placeholder="Search location..."
            formControlName="location"
            (click)="$event.stopPropagation()"
          />
        </mat-option>
        <mat-option
          *ngFor="let option of filteredLocations | async; trackBy: trackOption"
          [value]="option.id"
          >{{option.text}}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <div class="action_container">
      <mat-divider style="color: lightgray"></mat-divider>
      <section>
        <div class="button-row">
          <button
            matButton="outlined"
            [routerLink]="['/offender-detail', offender?.offenderNumber]"
          >
            Cancel
          </button>
          <button
            matButton="filled"
            type="submit"
            (click)="onSubmit()"
            [disabled]="!contactForm.valid"
            [routerLink]="['/commentary-form', offenderNumber, currentContact.contactId]"
          >
            Next
          </button>
        </div>
      </section>
    </div>
  </form>
</div>
