.surface-container-low {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  .surface-container{
    width:100%;
  }
}
.mat-icon {
    cursor: pointer;
}
.mat-mdc-text-field-wrapper {
    border: 1px;
    border-style: solid;
    border-color: black;
}
