 <div class="surface-container-low">
    <div class="surface-container">
      <h2 class="flex-item headline_small">{{ proxyAgentName() }} Caseload</h2>
      <mat-divider style="color: lightgray"></mat-divider>
      <div
        class="on-surface-variant d-flex align-items-center justify-content-between"
      >
        <span class="source-sans" *ngIf="!showSearchForm"
          >{{ (this.agentService.myCaseload())?.length || 0 }} offenders</span
        >
        <form [formGroup]="searchForm" *ngIf="showSearchForm"
              (ngSubmit)="$event.preventDefault()"
              class="d-flex align-items-center w-100">
          <mat-form-field class="contact_form_input_field flex-grow-1 me-2 no-padding">
            <mat-label>Filter Offenders</mat-label>
            <input matInput type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchTerm()" formControlName="searchTerm"
             />
            <!--*ngIf="searchForm.value.searchTerm"-->
            <mat-icon  matSuffix matIconButton aria-label="Clear" (click)="resetSearch()" fontIcon="close"></mat-icon>
          </mat-form-field>
        </form>
        <mat-icon *ngIf="!showSearchForm"
          class="header-icon"
          svgIcon="search"
          (click)="showSearchForm=true;"
          aria-hidden="false"
          aria-label="Search Icon"
        ></mat-icon>
      </div>
      <div>
        @if (this.filteredItems() != null) {
          @for (offender of this.filteredItems(); track offender.offenderNumber) {
            <app-offender-card [offender]="offender"></app-offender-card>
          }
        } @else {
<!--        <ng-template #loading>-->
          <div>Loading...</div>
<!--        </ng-template>-->
        }

      </div>
    </div>
  </div>
