<div class="surface">
@if(this.userService.user()?.tester == 1 && !this.agentService.primaryAgent()) {
  <app-proxy-user-select/>
  <div>Built: {{this.userService.appVersion()}}</div>
} @else {
  <mat-toolbar class="udc-home-mat-toolbar">
    <mat-toolbar-row>
      <span class="header-spacer">
        <div>
        </div>
      </span>
     <!--hiding this until we have search and notifications implemented-->
     <!--
     <mat-icon
        class="header-icon"
        svgIcon="search"
        aria-hidden="false"
        aria-label="Search Icon"></mat-icon>
      <mat-icon
        class="header-icon"
        svgIcon="bell"
        aria-hidden="false"
        aria-label="Notifications Icon"></mat-icon>
      -->
      <div class="primary-container">
        <span class="initials" (click)=this.agentService.updatePrimaryAgentStatus(0)>
          <div>
            @if(this.userService.user()) {
              @let user = this.userService.user();
              {{user?.firstName?.charAt(0)}}{{user?.lastName?.charAt(0)}}
            }
          </div>
        </span>
      </div>
    </mat-toolbar-row>
    <!--
    <mat-toolbar-row>
      <h2 class="flex-item headline_small">Supervision Contacts</h2>
    </mat-toolbar-row>
    -->
  </mat-toolbar>
  <div class="my-caseload-container">
    <app-my-caseload />
  </div>
  <div>Built: {{this.userService.appVersion()}}</div>
}
</div>
<!--hiding this until we have offender search implemented-->
<!--@if(this.agentService.allAgents()) {-->
<!--  @let agents = this.agentService.allAgents();-->
<!--  @for (agent of agents; track agent.userId) {-->
<!--    <p>{{agent.userId}} | {{agent.primaryUser}}</p>-->

<!--  }-->
<!--}-->
