.my-caseload-container {
  padding: 16px 0;
}

mat-toolbar.udc-home-mat-toolbar {
  padding: 16px 0;
  background-color: #fcf8f7
}

.mat-toolbar-row {
  padding: 0;
}

.initials {
  cursor: pointer;
}

:host ::ng-deep .bell-with-badge .mat-badge-content {
  margin: var(--mat-badge-container-offset, -10px -10px) !important;
}

