<div class="surface">
  @if (currentExistingContact()?.contactTypeId) {

    <span class="detail-header">
    <a
      [routerLink]="'/offender-detail/' + currentExistingContact()?.offenderNumber"
      style="text-decoration: none; color: inherit; cursor: pointer"
      aria-label="Back to Offender Detail"
    >
      <mat-icon
        class="header-icon"
        svgIcon="arrow_back"
        aria-hidden="false"
        aria-label="Back Icon"
        style="cursor: pointer"
      ></mat-icon>
    </a>
    <span class="title_large">Supervision Contact Detail.</span>
  </span>

    <div>
      <div class="contact-info-container">
        <span class="label_medium">Date</span>
        <span class="body_large"
        >{{ currentExistingContact()?.contactDate | date: 'MM/dd/yyyy' }} |
          {{ truncateTimeString(currentExistingContact()!.contactTimeString) || '' }}</span
        >
      </div>
      <div class="contact-info-container">
        <span class="label_medium">Primary Interviewer</span>
        <span class="body_large"
        >{{ currentExistingContact()?.primaryInterviewer?.name }}</span
        >
      </div>
      <div class="contact-info-container">
        <span class="label_medium">Secondary Interviewer</span>
        <span class="body_large"
        >{{ currentExistingContact()?.secondaryInterviewer?.name || 'N/A' }}</span
        >
      </div>
      <div class="contact-info-container">
        <span class="label_medium">Contact Type</span>
        <span class="body_large"
        >{{ currentExistingContact()?.contactType }}</span
        >
      </div>
      <div class="contact-info-container">
        <span class="label_medium">Location</span>
        <span class="body_large"
        >{{ currentExistingContact()?.location }}</span
        >
      </div>
      <div class="contact-info-container">
        <span class="label_medium">Contact Result</span>
        <span class="body_large">
          {{ contactResultTypeById() }}
        </span>
      </div>
      <div class="contact-info-container">
        <span class="label_medium">Commentary</span>
        <span class="body_medium">{{ currentExistingContact()?.summary }}</span>
      </div>
    </div>
  } @else if (currentUnsyncedContact()?.contactTypeId) {
    <span class="detail-header">
    <a
      [routerLink]="'/offender-detail/' + currentUnsyncedContact()?.offenderNumber"
      style="text-decoration: none; color: inherit; cursor: pointer"
      aria-label="Back to Offender Detail"
    >
      <mat-icon
        class="header-icon"
        svgIcon="arrow_back"
        aria-hidden="false"
        aria-label="Back Icon"
        style="cursor: pointer"
      ></mat-icon>
    </a>
    <span class="title_large">Supervision Contact Detail...</span>
  </span>

    <div>
      <div class="contact-info-container">
        <span class="label_medium">Date</span>
        <span class="body_large"
        >{{ currentUnsyncedContact()?.contactDate | date: 'MM/dd/yyyy' }} |
          {{ truncateTimeString(currentUnsyncedContact()!.contactTimeString) || '' }}</span
        >
      </div>
      <div class="contact-info-container">
        <span class="label_medium">Primary Interviewer</span>
        <span class="body_large"
        >{{ currentUnsyncedContact()?.primaryInterviewer?.name }}</span
        >
      </div>
      <div class="contact-info-container">
        <span class="label_medium">Secondary Interviewer</span>
        <span class="body_large"
        >{{ currentUnsyncedContact()?.secondaryInterviewer?.name }}</span
        >
      </div>
      <div class="contact-info-container">
        <span class="label_medium">Contact Type</span>
        <span class="body_large"
        >{{ currentUnsyncedContact()?.contactType }}</span
        >
      </div>
      <div class="contact-info-container">
        <span class="label_medium">Location</span>
        <span class="body_large"
        >{{ currentUnsyncedContact()?.location }}</span
        >
      </div>
      <div class="contact-info-container">
        <span class="label_medium">Contact Result</span>
        <span class="body_large">
          {{ contactResultTypeById() }}
        </span>
      </div>
      <div class="contact-info-container">
        <span class="label_medium">Commentary</span>
        <span class="body_medium">{{ currentUnsyncedContact()?.summary }}</span>
      </div>
    </div>
  }

</div>
