<div
  class="offender-card ripple-container"
  style="display: flex; cursor: pointer"
  matRipple
  [matRippleCentered]="centered"
  [matRippleDisabled]="disabled"
  [matRippleUnbounded]="unbounded"
  [matRippleRadius]="radius"
  [matRippleColor]="color"
  [routerLink]="['/offender-detail', offender.offenderNumber]"
>
  <div>
    <img />
  </div>
  <div>
    <div class="label_medium">{{offender.offenderNumber}}</div>
    <div class="title_medium">
      {{offender.defaultOffenderName.lastName}}, {{offender.defaultOffenderName.firstName}}
    </div>
    <div class="body_small">
      {{offender.offenderAddress.lineOne}}<br />{{offender.offenderAddress.city}}, {{offender.offenderAddress.state}}
      {{offender.offenderAddress.zipCode}}
    </div>
  </div>
</div>
