//.image-fit{
//  overflow: clip;
//}
.offender-card {
  width: 100%;
  height: 108px;
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  //border-radius: 8px;
  //background-color: var(--md-sys-color-surface-container-highest);
  border-radius: 8px;
  background: var(--UDC-styles-sys-light-surface, #FCF8F7);
  color: var(--md-sys-color-on-surface);
  padding: 16px;
}

.offender-card img {
  max-height: 81px;
  max-width: 81px;
  align-self: center;
  border-radius: 8px;
  flex-shrink: 0;
  background: url(../../../assets/images/placeholder-image.png) lightgray 50% / cover
  no-repeat;
}
.image-container{
  flex: 0;
  min-width: 81px;
  min-height: 81px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
}
