img {
  height: auto;
  max-width: 81px;
  align-self: center;
  border-radius: 8px;
  flex-shrink: 0;
  position: relative;
  background: url('./placeholder-image.png') lightgray 50% / cover
  no-repeat;
}

.offender-info-flex{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.first-flex-detail{
  flex: 0;
  width: 81px;
  height: auto;
}
.second-flex-detail{
  flex: 2;
  width: 100%;
}
