<div class="surface">
  @if (currentOffender()) {
    <app-detail-header
      [title]="'Offender Panel'"
      [backLink]="'/home'"
    ></app-detail-header>

    <div class="detail-card">
      <div style="display: flex">
        <div class="first-flex-detail">
          <ng-container>
            <img src="/field_contact_bff/api/offender-photo/{{currentOffender()?.offenderNumber}}"/>
          </ng-container>
        </div>
        <div class="second-flex-detail">
          <div class="label_medium">{{ currentOffender()?.offenderNumber }}</div>
          <div class="title_xlarge">
            {{ currentOffender()?.defaultOffenderName?.lastName }}
            , {{ currentOffender()?.defaultOffenderName?.firstName }}
          </div>
          <div class="label_medium">
            Last Successful Contact:
            @if (currentOffender()?.lastSuccessfulContact) {
              {{ currentOffender()?.lastSuccessfulContact?.contactDate ? (currentOffender()?.lastSuccessfulContact?.contactDate | date: 'MM/dd/yyyy') : 'N/A' }}
            }
          </div>
        </div>
      </div>
      <br/>
      <button
        class="add-contact-button"
        [routerLink]="['/contact-form', currentOffender()?.offenderNumber]"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >
        <mat-icon svgIcon="add-white"></mat-icon>
        Supervision Contact Entry
      </button>
    </div>
    <br/>
    <div class="detail-content-card">
      <span class="label_large_prominent">Contact Information</span>
      <div class="udc-list-item-card udc-list-item-card-phone">
        <div class="card-icon">
          <mat-icon
            class="header-icon"
            svgIcon="phone"
            aria-hidden="false"
            aria-label="Back Icon"
            style="cursor: pointer"
          ></mat-icon>
        </div>
        <div class="card-content">
          <div class="label_medium">Primary Phone</div>
          <div class="body_large">{{ currentOffender()?.defaultPhoneNumber }}</div>
        </div>
      </div>
      <div class="udc-list-item-card">
        <div class="card-icon">
          <mat-icon
            class="header-icon"
            svgIcon="location_on"
            aria-hidden="false"
            aria-label="Back Icon"
            style="cursor: pointer"
          ></mat-icon>
        </div>

        <div class="card-content">
          <div class="label_medium">Home Address</div>
          <div class="body_large">
            {{ currentOffender()?.offenderAddress?.lineOne }}<br/>{{ currentOffender()?.offenderAddress?.city }}
            , {{ currentOffender()?.offenderAddress?.state }}
            {{ currentOffender()?.offenderAddress?.zipCode }}
          </div>
        </div>
      </div>
    </div>
  }
  <div class="detail-content-card">
  <!-- **********iterate************ -->
  @if (unsyncedContacts()) {
    <ng-container>
      @for (unsyncedContact of unsyncedContacts(); track unsyncedContact.contactId) {
        @if (unsyncedContact.formCompleted) {

        <app-contact-listing-card
          [contact]="unsyncedContact"
        >
        </app-contact-listing-card>
        }
      }
    </ng-container>
  }
  @if (sortedExistingContacts()) {
    <ng-container>
      @for (contact of sortedExistingContacts(); track contact?.contactId) {
        <app-contact-listing-card
          [contact]="contact"
        >
        </app-contact-listing-card>
      }
    </ng-container>
  }
  </div>
  <ng-template #loading>
    <div class="surface">Loading...</div>
  </ng-template>
  <!-- ********************** -->
</div>
<ng-template #loading>
  <div class="surface">Loading...</div>
</ng-template>
