.add-contact-button {
    display: flex;
    cursor: pointer;
    width: 100%;
    flex-direction: row;
    padding: 10px 24px 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 32px;
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}
.detail-content-card{
  display: flex;
  padding: 16px 0;
  flex-direction: column;
  align-items: flex-start;
}
.detail-card {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.detail-card img {
  height: 81px;
  width: auto;
  align-self: center;
  border-radius: 8px;
  flex-shrink: 0;
  background: url('./placeholder-image.png') lightgray 50% / cover
  no-repeat;
}
.first-flex-detail{
  flex: 1;

}
.second-flex-detail{
  flex: 2;
  width: 100%;
}
