<div class="surface">
  @if (currentOffender()) {
    <app-detail-header
      [title]="'Offender Panel'"
      [backLink]="'/home'"
    ></app-detail-header>

    <div class="detail-card">

      <app-offender-name-detail [currentOffender]=currentOffender()></app-offender-name-detail>

      <br/>
      <button
        class="add-contact-button"
        [routerLink]="['/contact-form', currentOffender()?.offenderNumber]"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >
        <mat-icon svgIcon="add-white"></mat-icon>
        Supervision Contact Entry
      </button>
    </div>
    <br/>
    <div class="detail-content-card">
      <span class="label_large_prominent">Contact Information</span>
      @if (currentOffender()?.defaultPhoneNumber) {
      <app-phone-number [phoneNumber]="currentOffender()?.defaultPhoneNumber"
                        [phoneType]="'Primary'"></app-phone-number>
      }
      @if (currentOffender()?.offenderAddress) {
        <app-address [address]="currentOffender()?.offenderAddress" [addressType]="'Home'"></app-address>
      }
    </div>
  }
  <div class="detail-content-card">
    <!-- **********iterate************ -->
    @if (unsyncedContacts()) {
      <ng-container>
        @for (unsyncedContact of unsyncedContacts(); track unsyncedContact.contactId) {
          @if (unsyncedContact.formCompleted) {

            <app-contact-listing-card
              [contact]="unsyncedContact"
            >
            </app-contact-listing-card>
          }
        }
      </ng-container>
    }
    @if (sortedExistingContacts()) {
      <ng-container>
        @for (contact of sortedExistingContacts(); track contact?.contactId) {
          <app-contact-listing-card
            [contact]="contact"
          >
          </app-contact-listing-card>
        }
      </ng-container>
    }
  </div>
  <ng-template #loading>
    <div class="surface">Loading...</div>
  </ng-template>
  <!-- ********************** -->
</div>
<ng-template #loading>
  <div class="surface">Loading...</div>
</ng-template>
