.add-contact-button {
    display: flex;
    cursor: pointer;
    width: 100%;
    flex-direction: row;
    padding: 10px 24px 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 32px;
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.detail-card {
  width: 100%;
  padding: 32px 16px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
  background: var(--md-sys-color-surface-container-low);
}

.detail-card img {
  width: 81px;
  height: 81px;
  border-radius: 8px;
  flex-shrink: 0;
  background: url('./placeholder-image.png') lightgray 50% / cover
  no-repeat;
}
