<div class="surface">
  <app-detail-header
    [title]="'Add Commentary'"
    [backLink]="'/contact-form/' + routeOffenderNumber + '/' + currentContact()?.contactId"
  ></app-detail-header>
  <div class="surface-container-low-outlined">
    @if ((currentContact()?.offenderNumber ?? 0) > 0
    || (currentContact()?.selectedOffender ?? 0) > 0) {
      <div class="contact-info-container">
        <span class="label_medium">Offender</span>
        <span class="body_large">
              {{ offender()?.defaultOffenderName?.firstName }}
              {{ offender()?.defaultOffenderName?.lastName }}
        </span>
      </div>
    }
    <div class="contact-info-container" *ngIf="currentContact()?.offenderNumber == 0 && !currentContact()?.formCompleted">
      <span class="label_medium">First Name</span>
      <span class="body_large">{{ currentContact()?.firstName }}</span>
    </div>
    <div class="contact-info-container" *ngIf="currentContact()?.offenderNumber == 0 && !currentContact()?.formCompleted">
      <span class="label_medium">Last Name</span>
      <span class="body_large">{{ currentContact()?.lastName }}</span>
    </div>
    <div class="contact-info-container">
      <span class="label_medium">Date</span>
      <span class="body_large"
      >{{ currentContact()?.contactDate | date: 'MM/dd/yyyy' }} |
        {{ currentContact()?.contactTime | date: 'HH:mm' }}</span
      >
    </div>
    <div class="contact-info-container">
      <span class="label_medium">Primary Interviewer</span>
      <span class="body_large"
      >{{ currentContact()?.primaryInterviewer?.name }}</span
      >
    </div>
    <div class="contact-info-container">
      <span class="label_medium">Secondary Interviewer</span>
      <span class="body_large">
        {{ currentContact()?.secondaryInterviewer?.name || 'N/A' }}
      </span>
    </div>
    <div class="contact-info-container">
      <span class="label_medium">Contact Type</span>
      <span class="body_large">
          {{ currentContact()?.contactType }}
      </span>
    </div>
    <div class="contact-info-container">
      <span class="label_medium">Location</span>
      <span class="body_large">
          {{ currentContact()?.location }}
      </span>
    </div>
  </div>
  <div
    class="type-of-contact-btn-container"
  ></div>
  <div class="summary-of-contact-container">
    <form [formGroup]="commentaryForm" (submit)="onSubmit()">
      <mat-button-toggle-group
        formControlName="wasContactSuccessful"
        required
        class="{{errorClass}} udh-mat-toggle-group"
        name="fontStyle"
        aria-label="Font Style"
      >
        <mat-button-toggle
          #madeContactToggle
          class="successFab"
          (click)="madeContact()"
          value="bold"
        >Made Contact
        </mat-button-toggle
        >
        <mat-button-toggle
          #attemptedContactToggle
          class="successFab"
          (click)="attemptedContact()"
          value="italic"
        >Attempted Contact
        </mat-button-toggle
        >
      </mat-button-toggle-group>
      <mat-form-field class="contact_form_input_field">
        <mat-label>Summary of Contact</mat-label>
        <textarea
          matInput
          formControlName="commentary"
          placeholder="Tap the mic next to your keyboard to initiate voice to text"
          [ngModel]="currentContact()?.summary || ''"
          required
        ></textarea>
        <mat-hint>Tap the mic next to your keyboard to initiate voice to text</mat-hint>
      </mat-form-field>
    </form>
  </div>

  <div class="on-surface-variant">
    <span>
      <button matButton="text" (click)="openBottomSheet()">
        <mat-icon class="info-field-icon">info_outline</mat-icon> Field Visit
        Guidelines
      </button>
    </span>
  </div>

  <div class="on-surface-variant action_container">
    <mat-divider class="divider"></mat-divider>
    <section>
      <div class="button-row">
        <button
          matButton="outlined"
          [routerLink]="currentContact()?.offenderNumber?['/offender-detail', currentContact()?.offenderNumber]:['/home']"
        >
          Cancel
        </button>

        <button
          matButton="filled"
          type="submit"
          (click)="confirmSubmit()"
          [disabled]="!commentaryForm.valid"
        >
          Save
        </button>
      </div>
    </section>
  </div>
</div>
