<mat-nav-list>
    <h3 class="body_large">Summary of Contact</h3>
    <p class="body_medium">Describe what was observed and discussed. What areas of the residence did you look? Did you discover any violations? What prosocial behaviors were discussed? Were they provided necessary resources? If so, what were they? Include any additional comments relevant to the R&R efforts for the individual.</p>

    <h3 class="body_large">Inspection</h3>
    <p class="body_medium">Inspected the residence, garage, and any property, sheds, and outbuildings through random checks, with permission or upon reasonable suspicion.</p>

    <h3 class="body_large">Supervision Compliance</h3>
    <p class="body_medium">Verify compliance with supervision conditions and assessed progress with the Case Action Plan through the practice of motivational interviewing.</p>

    <h3 class="body_large">Employment</h3>
    <p class="body_medium">Refer the individual to appropriate services and resources if they are unemployed.</p>

    <h3 class="body_large">Education</h3>
    <p class="body_medium">Refer the individual to appropriate services and resources if they do not have a GED or high school diploma.</p>
</mat-nav-list>
