<mat-form-field  class="contact_form_input_field custom-select-toggle filterable-select-field"> <!-- [appearance]="appearance" -->
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <mat-select
    [value]="value"
    [placeholder]="placeholder"
    (valueChange)="onValueChange($event)"
    (openedChange)="onPanelToggled($event)"
    [disabled]="isDisabled()"
  >
    <mat-option
      class="search-option"
      [disabled]="true"
      (click)="$event.stopPropagation()"
      (mousedown)="$event.stopPropagation()"
    >
      <input
        matInput
        class="search-input"
        type="text"
        [placeholder]="searchPlaceholder"
        [value]="searchTerm()"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
        #searchInput
        (input)="onSearch(searchInput.value)"
      />
    </mat-option>

    <mat-option *ngFor="let option of filteredOptions()" [value]="option.id">
      {{ option.text }}
    </mat-option>

    <mat-option *ngIf="filteredOptions().length === 0" disabled>
      {{ noOptionsText }}
    </mat-option>
  </mat-select>
  <mat-icon matSuffix svgIcon="ph-caret-down"></mat-icon>
</mat-form-field>
