.contact_form_input_field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    flex: 1 0 0;
    width: 100%;
    background-color: #F1EDEC;
    align-self: stretch; 
}